<button
  class="home-button"
  mat-icon-button
  aria-label="Edit task button"
  (click)="goHome()"
  color="primary"
>
  <mat-icon>home</mat-icon>
</button>

<body class="mat-app-background">
  <div class="container">
    <div class class="main-container">
      <div class="header">
        <div class="date">
          <div class="day">{{ date | date: "d" }}</div>
          <div>
            <div>{{ date | date: "MMMM" }}</div>
            <div>{{ date | date: "y" }}</div>
          </div>
          <div style="font-size: 40px; padding-left: 40px;">
            {{list.name}}
          </div>
        </div>
      </div>
      <div class="list-box">
        <mat-tab-group headerPosition="below">
          <mat-tab label="Active">
            <ng-template matTabContent>
              <app-active-tasks></app-active-tasks>
            </ng-template>
          </mat-tab>
          <mat-tab label="Finished">
            <ng-template matTabContent>
              <app-other-tasks [listId]="list._id" type="finished"></app-other-tasks>
            </ng-template>
          </mat-tab>
          <mat-tab label="Cancelled">
            <ng-template matTabContent>
              <app-other-tasks [listId]="list._id" type="canceled"></app-other-tasks>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</body>
