<body class="mat-app-background">
  <div class="container">
    <div class class="main-container">
      <div class="header">
        <div class="date">
          <div class="day">30</div>
          <div>
            <div>month</div>
            <div>2020</div>
          </div>
        </div>
      </div>
      <div class="list-box">
        <mat-tab-group headerPosition="below">
          <mat-tab label="Active">
            <ng-template matTabContent>
              <app-list></app-list>
            </ng-template>
          </mat-tab>
          <mat-tab label="Finished" >
            <ng-template matTabContent>
              <app-history type="finished"></app-history>
            </ng-template>
          </mat-tab>
          <mat-tab label="Cancelled">
            <ng-template matTabContent>
              <app-history type="canceled"></app-history>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</body>
