<mat-expansion-panel hideToggle #matExpansionPanel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Add new list
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="newListForm" (ngSubmit)="addList()">
  <mat-form-field appearance="legacy">
    <mat-label *ngIf="!formError">Title</mat-label>
    <mat-label *ngIf="formError">Please name Your task!</mat-label>
    <input matInput type="text" formControlName="name" />
  </mat-form-field>
  <br />
  <div class="button-container">
    <button
      mat-icon-button type="submit"
      aria-label="Add task button"
    >
      <mat-icon>check</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Cancel task button"
      (click)="clearForm()"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</form>
</mat-expansion-panel>
